.button:hover {
  background-color: #f5f3f4 !important;
  cursor: pointer;
}

.button {
  font-family: "Aileron-Regular", Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-weight: 600;
  background-color: #d3d3d3;
  border: 1px solid #ccc;
  border-radius: 20px;
  min-height: 30px;
  transition: background 0.3s;
  padding: 0rem 1rem 0rem 1rem;
}
