.defaultLabel {
  padding-left: 5px;
  font-family: "Aileron-Light", Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-size: 0.75rem;
  user-select: none;
}

.defaultBorderInputStyle {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-family: "Aileron-Regular", Helvetica, Arial, Verdana, Tahoma, sans-serif;
  background-color: #d3d3d3;
}
